@using BookStore.ViewModel
@model AuthorFormVM

@section Title {
Authors
}
@section SubTitle {
Details
}

<div class="card" style="width:50%">
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Name</h5>
        <hr />
        <p class="card-text">This author @Model.Name create his book in @Model.CreatedOn</p>
        <p class="card-text">This book has been updated in @Model.UpdatedOn</p>
        
    </div>
</div>